#### Rex Gayas DSC350-T301 Data Wrangling for Data Scienc (2243-1)
#### Term Project Milestone 2 Winter 2023

##### Replace headers

In [68]:
import pandas as pd

# Load the dataset 
df = pd.read_csv(r"D:\ALPHA\Dynamic Folder\Bellevue\Winter 2023\Data Wrangling\Project\Datasets\Air_Quality.csv")

# Name new headers
new_headers = [
    'Unique ID', 'Indicator ID', 'Name', 'Measure', 
    'Measure Info', 'Geo Type Name', 'Geo Join ID', 
    'Geo Place Name', 'Time Period', 'Start Date', 
    'Data Value', 'Message'
]

# Replace headers
df.columns = new_headers

# Display DataFrame to check the new headers
print(df.head())

   Unique ID  Indicator ID                  Name Measure Measure Info  \
0     216498           386            Ozone (O3)    Mean          ppb
1     216499           386            Ozone (O3)    Mean          ppb
2     219969           386            Ozone (O3)    Mean          ppb
3     219970           386            Ozone (O3)    Mean          ppb
4     164876           383  Sulfur Dioxide (SO2)    Mean          ppb

  Geo Type Name  Geo Join ID                    Geo Place Name  \
0            CD          313               Coney Island (CD13)
1            CD          313               Coney Island (CD13)
2       Borough            1                             Bronx
3       Borough            1                             Bronx
4            CD          211  Morris Park and Bronxdale (CD11)

      Time Period  Start Date  Data Value  Message
0     Summer 2013  06/01/2013       34.64      NaN
1     Summer 2014  06/01/2014       33.22      NaN
2     Summer 2013  06/01/2013       31.25      NaN
3     Summer 2014  06/01/2014       31.15      NaN
4  Winter 2008-09  12/01/2008        5.89      NaN

##### Format Data into a More Readable Format

In [69]:
import pandas as pd

# Load the dataset 
df = pd.read_csv(r"D:\ALPHA\Dynamic Folder\Bellevue\Winter 2023\Data Wrangling\Project\Datasets\Air_Quality.csv")

# Format 'Start_Date' to standard date format 'Year-Month-Day'
df['Start_Date'] = pd.to_datetime(df['Start_Date'], errors='coerce').dt.strftime('%Y-%m-%d')

# Check first few rows to verify 
print(df.head())

   Unique ID  Indicator ID                  Name Measure Measure Info  \
0     216498           386            Ozone (O3)    Mean          ppb
1     216499           386            Ozone (O3)    Mean          ppb
2     219969           386            Ozone (O3)    Mean          ppb
3     219970           386            Ozone (O3)    Mean          ppb
4     164876           383  Sulfur Dioxide (SO2)    Mean          ppb

  Geo Type Name  Geo Join ID                    Geo Place Name  \
0            CD          313               Coney Island (CD13)
1            CD          313               Coney Island (CD13)
2       Borough            1                             Bronx
3       Borough            1                             Bronx
4            CD          211  Morris Park and Bronxdale (CD11)

      Time Period  Start_Date  Data Value  Message
0     Summer 2013  2013-06-01       34.64      NaN
1     Summer 2014  2014-06-01       33.22      NaN
2     Summer 2013  2013-06-01       31.25      NaN
3     Summer 2014  2014-06-01       31.15      NaN
4  Winter 2008-09  2008-12-01        5.89      NaN

In [70]:
import pandas as pd

# Load the dataset 
df = pd.read_csv(r"D:\ALPHA\Dynamic Folder\Bellevue\Winter 2023\Data Wrangling\Project\Datasets\Air_Quality.csv")

# Print out the current column names to verify
print(df.columns)

Index(['Unique ID', 'Indicator ID', 'Name', 'Measure', 'Measure Info',
       'Geo Type Name', 'Geo Join ID', 'Geo Place Name', 'Time Period',
       'Start_Date', 'Data Value', 'Message'],
      dtype='object')

In [71]:
# Show the correct column name from the output of df.columns
df['Start_Date'] = pd.to_datetime(df['Start_Date'], errors='coerce').dt.strftime('%Y-%m-%d')

# Verify the change
print(df['Start_Date'].head())

0    2013-06-01
1    2014-06-01
2    2013-06-01
3    2014-06-01
4    2008-12-01
Name: Start_Date, dtype: object

##### Identify Outliers

In [72]:
# Select 'Data Value' as the numeric column to find outliers
Q1 = df['Data Value'].quantile(0.25)
Q3 = df['Data Value'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out outliers
outliers_df = df[(df['Data Value'] < lower_bound) | (df['Data Value'] > upper_bound)]
non_outliers_df = df[(df['Data Value'] >= lower_bound) & (df['Data Value'] <= upper_bound)]

# Display outliers
print("Outliers:")
print(outliers_df)

Outliers:
       Unique ID  Indicator ID  \
22        130355           639
23        130356           639
24        130357           639
25        130358           639
26        130359           639
...          ...           ...
13994     628936           659
13995     628937           659
14012     628954           659
14013     628955           659
14014     628956           659

                                                    Name  \
22                             PM2.5-Attributable Deaths
23                             PM2.5-Attributable Deaths
24                             PM2.5-Attributable Deaths
25                             PM2.5-Attributable Deaths
26                             PM2.5-Attributable Deaths
...                                                  ...
13994  O3-Attributable Asthma Emergency Department Vi...
13995  O3-Attributable Asthma Emergency Department Vi...
14012  O3-Attributable Asthma Emergency Department Vi...
14013  O3-Attributable Asthma Emergency Department Vi...
14014  O3-Attributable Asthma Emergency Department Vi...

                                               Measure        Measure Info  \
22     Estimated Annual Rate - Adults 30 Yrs and Older  per 100,000 adults
23     Estimated Annual Rate - Adults 30 Yrs and Older  per 100,000 adults
24     Estimated Annual Rate - Adults 30 Yrs and Older  per 100,000 adults
25     Estimated Annual Rate - Adults 30 Yrs and Older  per 100,000 adults
26     Estimated Annual Rate - Adults 30 Yrs and Older  per 100,000 adults
...                                                ...                 ...
13994          Estimated Annual Rate- 18 Yrs and Older  per 100,000 adults
13995          Estimated Annual Rate- 18 Yrs and Older  per 100,000 adults
14012          Estimated Annual Rate- 18 Yrs and Older  per 100,000 adults
14013          Estimated Annual Rate- 18 Yrs and Older  per 100,000 adults
14014          Estimated Annual Rate- 18 Yrs and Older  per 100,000 adults

      Geo Type Name  Geo Join ID                        Geo Place Name  \
22            UHF42          101               Kingsbridge - Riverdale
23            UHF42          102                       Northeast Bronx
24            UHF42          103                    Fordham - Bronx Pk
25            UHF42          104                  Pelham - Throgs Neck
26            UHF42          105                      Crotona -Tremont
...             ...          ...                                   ...
13994         UHF42          302  Central Harlem - Morningside Heights
13995         UHF42          303                           East Harlem
14012         UHF42          410                             Rockaways
14013         UHF42          501                         Port Richmond
14014         UHF42          502                Stapleton - St. George

      Time Period  Start_Date  Data Value  Message
22      2005-2007  2005-01-01       117.7      NaN
23      2005-2007  2005-01-01        77.3      NaN
24      2005-2007  2005-01-01        67.3      NaN
25      2005-2007  2005-01-01        73.6      NaN
26      2005-2007  2005-01-01        65.8      NaN
...           ...         ...         ...      ...
13994   2015-2017  2015-01-01       121.4      NaN
13995   2015-2017  2015-01-01       141.5      NaN
14012   2015-2017  2015-01-01        63.0      NaN
14013   2015-2017  2015-01-01        74.6      NaN
14014   2015-2017  2015-01-01        53.8      NaN

[531 rows x 12 columns]

##### Identify and Remove Duplicates

In [73]:
# Identify duplicates based on all columns
duplicates = df[df.duplicated()]

# Display the duplicates
print("Duplicate Rows:")
print(duplicates)

# Remove duplicates while keeping first occurrence
df = df.drop_duplicates()

# Verify removal of duplicates by checking shape of the DataFrame
print("DataFrame shape after removing duplicates:", df.shape)

Duplicate Rows:
Empty DataFrame
Columns: [Unique ID, Indicator ID, Name, Measure, Measure Info, Geo Type Name, Geo Join ID, Geo Place Name, Time Period, Start_Date, Data Value, Message]
Index: []
DataFrame shape after removing duplicates: (16122, 12)

##### Fix Inconsistent Values

In [74]:
# Verify column names
print(df.columns)

# Convert the 'Name' column to lowercase for consistency
df['Name'] = df['Name'].str.lower()

# Convert the 'Measure' column to lowercase for consistency
df['Measure'] = df['Measure'].str.lower()

# Display changes to verify
print(df[['Name', 'Measure']].head())

Index(['Unique ID', 'Indicator ID', 'Name', 'Measure', 'Measure Info',
       'Geo Type Name', 'Geo Join ID', 'Geo Place Name', 'Time Period',
       'Start_Date', 'Data Value', 'Message'],
      dtype='object')
                   Name Measure
0            ozone (o3)    mean
1            ozone (o3)    mean
2            ozone (o3)    mean
3            ozone (o3)    mean
4  sulfur dioxide (so2)    mean

In [75]:
pip install fuzzywuzzy[speedup]

Requirement already satisfied: fuzzywuzzy[speedup] in c:\users\rexar\anaconda3\lib\site-packages (0.18.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-levenshtein>=0.12 in c:\users\rexar\anaconda3\lib\site-packages (from fuzzywuzzy[speedup]) (0.23.0)
Requirement already satisfied: Levenshtein==0.23.0 in c:\users\rexar\anaconda3\lib\site-packages (from python-levenshtein>=0.12->fuzzywuzzy[speedup]) (0.23.0)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.1.0 in c:\users\rexar\anaconda3\lib\site-packages (from Levenshtein==0.23.0->python-levenshtein>=0.12->fuzzywuzzy[speedup]) (3.6.1)

WARNING: Ignoring invalid distribution -umpy (c:\users\rexar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\rexar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\rexar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\rexar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\rexar\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\rexar\anaconda3\lib\site-packages)

##### Conduct Fuzzy Matching

In [76]:
from fuzzywuzzy import process

# Function replacing each entry with the closest match from a list of desired terms
def replace_with_closest_match(entry, choices_list):
    # If the entry is NaN (missing), don't match it just return
    if pd.isna(entry):
        return entry
    # Otherwise, find the closest match and return
    closest_match = process.extractOne(entry, choices_list)
    return closest_match[0]

# List of standardized terms expected in the 'Geo Place Name' column
standard_terms = ['Manhattan', 'Queens', 'Brooklyn', 'Bronx', 'Staten Island']

# Fuzzy matching function applied to the 'Geo Place Name' column
df['Geo Place Name'] = df['Geo Place Name'].apply(lambda x: replace_with_closest_match(x, standard_terms))

# Display the changes to verify
print(df['Geo Place Name'].value_counts())

Geo Place Name
Staten Island    6230
Queens           3850
Bronx            3694
Manhattan        1366
Brooklyn          982
Name: count, dtype: int64

##### Add Data

In [77]:
# Add new column 'Pollutant Level Category' based on 'Data Value'
# Function to categorize pollutant levels
def categorize_pollutant_level(value):
    if pd.isna(value):
        return 'Unknown'  # Handling possible NaN values
    elif value < 50:
        return 'Good'
    elif value < 100:
        return 'Moderate'
    elif value < 150:
        return 'Unhealthy for Sensitive Groups'
    elif value < 200:
        return 'Unhealthy'
    elif value < 300:
        return 'Very Unhealthy'
    else:
        return 'Hazardous'

# Function applied to 'Data Value' column to create new category column
df['Pollutant Level Category'] = df['Data Value'].apply(categorize_pollutant_level)

# Display the new column to verify
print(df[['Data Value', 'Pollutant Level Category']].head())

   Data Value Pollutant Level Category
0       34.64                     Good
1       33.22                     Good
2       31.25                     Good
3       31.15                     Good
4        5.89                     Good

#### Reference:https://www.kaggle.com/datasets/kaggleprollc/air-quality-data-nyc