## Assignment 5.2
Author: Rex Gayas
Date: 14 January 2024
Modified By: N/A
Description: Data Wrangling with Pandas: Merging, Cleaning, Transforming, and Reshaping CSV Data into Long Format

In [18]:
# Solution to Exercise 1
import pandas as pd

# Step 1a: Read in the CSV files
aapl_df = pd.read_csv('D:\\ALPHA\\Dynamic Folder\\Bellevue\\Winter 2023\\Data Wrangling\\Week 5\\aapl.csv')
amzn_df = pd.read_csv('D:\\ALPHA\\Dynamic Folder\\Bellevue\\Winter 2023\\Data Wrangling\\Week 5\\amzn.csv')
fb_df = pd.read_csv('D:\\ALPHA\\Dynamic Folder\\Bellevue\\Winter 2023\\Data Wrangling\\Week 5\\fb.csv')
goog_df = pd.read_csv('D:\\ALPHA\\Dynamic Folder\\Bellevue\\Winter 2023\\Data Wrangling\\Week 5\\goog.csv')
nflx_df = pd.read_csv('D:\\ALPHA\\Dynamic Folder\\Bellevue\\Winter 2023\\Data Wrangling\\Week 5\\nflx.csv')

# Step 1b: Add a 'ticker' column to each DataFrame
aapl_df['ticker'] = 'AAPL'
amzn_df['ticker'] = 'AMZN'
fb_df['ticker'] = 'FB'
goog_df['ticker'] = 'GOOG'
nflx_df['ticker'] = 'NFLX'

# Step 1c: Append them together into a single DataFrame
faang_df = pd.concat([aapl_df, amzn_df, fb_df, goog_df, nflx_df], ignore_index=True)

# Step 1d: Save the result in a CSV file called 'faang.csv'
faang_csv_path = 'D:\\ALPHA\\Dynamic Folder\\Bellevue\\Winter 2023\\Data Wrangling\\Week 5\\faang.csv'
faang_df.to_csv(faang_csv_path, index=False)

faang_csv_path  # Returning the path to the saved 'faang.csv' file

'D:\\ALPHA\\Dynamic Folder\\Bellevue\\Winter 2023\\Data Wrangling\\Week 5\\faang.csv'

In [19]:
# Solution to Exercise 2

# Read the saved 'faang.csv' file
faang_df = pd.read_csv('D:\\ALPHA\\Dynamic Folder\\Bellevue\\Winter 2023\\Data Wrangling\\Week 5\\faang.csv')

# Convert the 'date' column to datetime
faang_df['date'] = pd.to_datetime(faang_df['date'])

# Convert the 'volume' column to integers
faang_df['volume'] = faang_df['volume'].astype(int)

# Sort the DataFrame by 'date' and 'ticker'
faang_df_sorted = faang_df.sort_values(by=['date', 'ticker'])

# Display the sorted DataFrame to verify
faang_df_sorted.head()

,date,high,low,open,close,volume,ticker
0,2018-01-02,43.075001,42.314999,42.540001,43.064999,102223600,AAPL
251,2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,AMZN
502,2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,FB
753,2018-01-02,1066.939941,1045.229980,1048.339966,1065.000000,1237600,GOOG
1004,2018-01-02,201.649994,195.419998,196.100006,201.070007,10966900,NFLX

In [20]:
# Solution to Exercise 3

# Find the seven rows with the lowest 'volume'
lowest_volume_rows = faang_df_sorted.nsmallest(7, 'volume')

# Display the seven rows to verify
lowest_volume_rows

,date,high,low,open,close,volume,ticker
879,2018-07-03,1135.819946,1100.020020,1135.819946,1102.890015,679000,GOOG
979,2018-11-23,1037.589966,1022.398987,1030.000000,1023.880005,691500,GOOG
852,2018-05-24,1080.469971,1066.150024,1079.000000,1079.239990,766800,GOOG
883,2018-07-10,1159.589966,1149.589966,1156.979980,1152.839966,798400,GOOG
905,2018-08-09,1255.541992,1246.010010,1249.900024,1249.099976,848600,GOOG
912,2018-08-20,1211.000000,1194.625977,1205.020020,1207.770020,870800,GOOG
914,2018-08-22,1211.839966,1199.000000,1200.000000,1207.329956,887400,GOOG

In [21]:
# Solution to Exercise 4

# Use melt() to convert the DataFrame to long format
# 'date' and 'ticker' are our ID variables, and we will melt all the other columns
faang_long_format = faang_df_sorted.melt(id_vars=['date', 'ticker'], 
                                         var_name='variable', 
                                         value_name='value')

# Display the DataFrame in long format to verify
faang_long_format.head()

        date ticker variable        value
0 2018-01-02   AAPL     high    43.075001
1 2018-01-02   AMZN     high  1190.000000
2 2018-01-02     FB     high   181.580002
3 2018-01-02   GOOG     high  1066.939941
4 2018-01-02   NFLX     high   201.649994

##### Exercise 5. Suppose we found out that on July 26, 2018, there was a glitch in the data recorded. How should we handle this? Note that there is no coding required for this exercise.

###### Solution to Exercise 5
To address a data glitch on July 26, 2018, one must first define the nature and scope of the anomaly, whether it's missing data, outliers, or incorrect entries. Evaluating the extent of the glitch helps determine its impact on analyses and decide the appropriate remediation strategy. Consultation with data stakeholders is crucial to understand the context and potential implications of the data irregularity. The strategy to rectify the glitch depends on the glitch type; options include removal, correction, imputation, or simply flagging the affected data. Imputation might involve statistical techniques like mean or median substitution or model-based methods if the data is recoverable. If the glitch is isolated and the corrupted data is non-critical, removal might be the simplest solution. 

Correcting the data requires reliable sources to make sure of the true values. Flagging is essential when data integrity must be preserved for audit trails or when correction is not feasible. Documentation of the issue and the resolution approach is essential for transparency and future reference. Implementing the chosen strategy requires careful execution and subsequent verification to ensure that the data set's integrity is maintained for accurate analysis.