## Assignment 3.2
Author: Rex Gayas
Date: 17 December 2023
Modified By: N/A
Description: This assignment provides an introductory use of Pandas for data manipulation and analysis in Python. Data is from parsed.csv which is data from earthquakes.csv with an additional column for the location (parsed from the data to handle multiple names for the same entity).

In [23]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = "D:\\ALPHA\\Dynamic Folder\\Bellevue\\Winter 2023\\Data Wrangling\\Week 3\\parsed.csv"
earthquakes_df = pd.read_csv(file_path)

In [24]:
# Exercise 1: 95th percentile of earthquake magnitude in Japan using the 'mb' type
japan_mb_earthquakes = earthquakes_df[(earthquakes_df['parsed_place'] == 'Japan') & (earthquakes_df['magType'] == 'mb')]
percentile_95_japan_mb = japan_mb_earthquakes['mag'].quantile(0.95)
print("95th percentile of earthquake mag in Japan =", percentile_95_japan_mb)

95th percentile of earthquake mag in Japan = 4.9

In [25]:
# Exercise 2: Percentage of earthquakes in Indonesia that were coupled with tsunamis
indonesia_earthquakes = earthquakes_df[earthquakes_df['parsed_place'] == 'Indonesia']
percentage_tsunamis_indonesia = (indonesia_earthquakes['tsunami'].sum() / len(indonesia_earthquakes)) * 100
print("Percentage of earthquakes in Indonesia w/ Tsunamis =", percentage_tsunamis_indonesia)

Percentage of earthquakes in Indonesia w/ Tsunamis = 23.12925170068027

In [26]:
# Exercise 3: Summary statistics for earthquakes in Nevada
nevada_earthquakes = earthquakes_df[earthquakes_df['parsed_place'] == 'Nevada']
nevada_summary_statistics = nevada_earthquakes.describe()
print("Nevada Summary Statistics =", nevada_summary_statistics)

Nevada Summary Statistics =              cdi        dmin       felt         gap         mag   mmi  \
count  15.000000  681.000000  15.000000  681.000000  681.000000  1.00
mean    2.440000    0.166199   2.400000  153.668120    0.500073  2.84
std     0.501142    0.166228   4.626013   68.735302    0.696710   NaN
min     2.000000    0.001000   1.000000   29.140000   -0.500000  2.84
25%     2.000000    0.053000   1.000000   97.380000   -0.100000  2.84
50%     2.200000    0.112000   1.000000  149.140000    0.400000  2.84
75%     2.900000    0.233000   1.000000  199.720000    0.900000  2.84
max     3.300000    1.414000  19.000000  355.910000    2.900000  2.84

              nst         rms         sig          time  tsunami     tz  \
count  681.000000  681.000000  681.000000  6.810000e+02    681.0  681.0
mean    12.618209    0.151986   10.970631  1.538314e+12      0.0 -480.0
std      9.866963    0.084662   19.607150  5.965637e+08      0.0    0.0
min      3.000000    0.000500    0.000000  1.537247e+12      0.0 -480.0
25%      6.000000    0.106900    0.000000  1.537854e+12      0.0 -480.0
50%     10.000000    0.146300    2.000000  1.538280e+12      0.0 -480.0
75%     16.000000    0.187100   12.000000  1.538821e+12      0.0 -480.0
max     61.000000    0.863400  129.000000  1.539461e+12      0.0 -480.0

            updated
count  6.810000e+02
mean   1.538402e+12
std    6.010951e+08
min    1.537307e+12
25%    1.537928e+12
50%    1.538428e+12
75%    1.538878e+12
max    1.539483e+12

In [30]:
# Exercise 4: Column indicating whether the earthquake happened in the Ring of Fire

# Define the list of locations that are part of the Ring of Fire
ring_of_fire_locations = [
    'Alaska', 'Antarctica', 'Bolivia', 'California', 'Canada', 'Chile', 'Costa Rica', 
    'Ecuador', 'Fiji', 'Guatemala', 'Indonesia', 'Japan', 'Kermadec Islands', 'Mexico', 
    'New Zealand', 'Peru', 'Philippines', 'Russia', 'Taiwan', 'Tonga', 'Washington'
]

# Note not to include "New Mexico" when looking for "Mexico"
# Add a new column to the dataframe that checks if the earthquake's location is in the Ring of Fire
earthquakes_df['in_ring_of_fire'] = earthquakes_df['parsed_place'].apply(
    lambda location: any(rof_location in location for rof_location in ring_of_fire_locations) and 'New Mexico' not in location
)

# Display the first few rows of the dataframe to verify the new column
earthquakes_df[['parsed_place', 'in_ring_of_fire']].head()

  parsed_place  in_ring_of_fire
0   California             True
1   California             True
2   California             True
3   California             True
4   California             True

In [31]:
# Exercise 5: Number of earthquakes in the Ring of Fire locations and the number outside of them
ring_of_fire_earthquake_count = earthquakes_df['in_ring_of_fire'].sum()
outside_ring_of_fire_earthquake_count = len(earthquakes_df) - ring_of_fire_earthquake_count
print("Number of earthquakes in the Ring of Fire locations =", ring_of_fire_earthquake_count)
print("Number of earthquakes outside the same locations =", outside_ring_of_fire_earthquake_count)

Number of earthquakes in the Ring of Fire locations = 7184
Number of earthquakes outside the same locations = 2148

In [32]:
# Exercise 6: Tsunami count along the Ring of Fire
tsunami_ring_of_fire_count = earthquakes_df[earthquakes_df['in_ring_of_fire']]['tsunami'].sum()
print("Tsunami count along Ring of Fire =", tsunami_ring_of_fire_count)

Tsunami count along Ring of Fire = 45