## Assignment 4.2
Author: Rex Gayas
Date: 7 January 2024
Modified By: N/A
Description: This assignment further explored and manipulated CSV Data with Pandas DataFrames for insightful data analysis.

### Solution to Exercise 1

In [48]:
import pandas as pd

# Load the data into a DataFrame
file_path = 'D:\\ALPHA\\Dynamic Folder\\Bellevue\\Winter 2023\\Data Wrangling\\Week 4\\WHO_first9cols.csv'
data = pd.read_csv(file_path)

# Print the results
print("Data Loaded:\n", data.head())

Data Loaded:
        Country  CountryID  Continent  Adolescent fertility rate (%)  \
0  Afghanistan          1          1                          151.0
1      Albania          2          2                           27.0
2      Algeria          3          3                            6.0
3      Andorra          4          2                            NaN
4       Angola          5          3                          146.0

   Adult literacy rate (%)  \
0                     28.0
1                     98.7
2                     69.9
3                      NaN
4                     67.4

   Gross national income per capita (PPP international $)  \
0                                                NaN
1                                             6000.0
2                                             5940.0
3                                                NaN
4                                             3890.0

   Net primary school enrolment ratio female (%)  \
0                                            NaN
1                                           93.0
2                                           94.0
3                                           83.0
4                                           49.0

   Net primary school enrolment ratio male (%)  \
0                                          NaN
1                                         94.0
2                                         96.0
3                                         83.0
4                                         51.0

   Population (in thousands) total
0                          26088.0
1                           3172.0
2                          33351.0
3                             74.0
4                          16557.0

In [50]:
# Query the number of rows
num_rows = data.shape[0]
print("\nNumber of Rows:", num_rows)

Number of Rows: 202

In [3]:
# Print the column headers
column_headers = data.columns
print("\nColumn Headers:", column_headers)

Column Headers: Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')

In [51]:
# Print the data types
data_types = data.dtypes
print("\nData Types:\n", data_types)

Data Types:
 Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

In [52]:
# Print the index
index = data.index
print("\nIndex:", index)

Index: RangeIndex(start=0, stop=202, step=1)

### Solution to Exercise 2

In [53]:
# Select the "Country" column
country_column = data['Country']

# Returning its data type
data_type = country_column.dtype
print(f"Data Type of 'Country' Column: {data_type}")

Data Type of 'Country' Column: object

In [54]:
# Return the series shape
shape = country_column.shape
print(f"Shape of 'Country' Column: {shape}")

Shape of 'Country' Column: (202,)

In [55]:
# Return the index
index = country_column.index
print(f"Index of 'Country' Column: {index}")

Index of 'Country' Column: RangeIndex(start=0, stop=202, step=1)

In [56]:
# Return the values
values = country_column.values
print(f"Values of 'Country' Column: {values[:10]}...")  # Displaying first 10 values only

Values of 'Country' Column: ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria']...

In [57]:
# Return the name of the series
name = country_column.name
print(f"Name of the Series: {name}")

Name of the Series: Country

### Solution to Exercise 3

In [58]:
import quandl

# Input Quandl API key
quandl.ApiConfig.api_key = 'LQSjhLEu2tY2XY_wLGqx'

# Import the sunspots data using Quandl
data = quandl.get('SIDC/SUNSPOTS_A')

# Print the head and tail
print("Head of the data:\n", data.head())
print("\nTail of the data:\n", data.tail())

Head of the data:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1700-12-31                               8.3                             NaN
1701-12-31                              18.3                             NaN
1702-12-31                              26.7                             NaN
1703-12-31                              38.3                             NaN
1704-12-31                              60.0                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1700-12-31                     NaN                               1.0
1701-12-31                     NaN                               1.0
1702-12-31                     NaN                               1.0
1703-12-31                     NaN                               1.0
1704-12-31                     NaN                               1.0

Tail of the data:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2016-12-31                              39.8                             3.9
2017-12-31                              21.7                             2.5
2018-12-31                               7.0                             1.1
2019-12-31                               3.6                             0.5
2020-12-31                               8.8                             4.1

            Number of Observations  Definitive/Provisional Indicator
Date
2016-12-31                  9940.0                               1.0
2017-12-31                 11444.0                               1.0
2018-12-31                 12611.0                               1.0
2019-12-31                 12884.0                               1.0
2020-12-31                 14440.0                               1.0

In [59]:
# Query for the last value using the last date
last_value = data.iloc[-1]
print("\nLast value of the data on the last date:\n", last_value)

Last value of the data on the last date:
 Yearly Mean Total Sunspot Number        8.8
Yearly Mean Standard Deviation          4.1
Number of Observations              14440.0
Definitive/Provisional Indicator        1.0
Name: 2020-12-31 00:00:00, dtype: float64

In [60]:
# Query a specific date
# Using the first date in the dataset as an example
date_query = data.index[0]
queried_date = data.loc[date_query]
print("\nData for the first date in the dataset:\n", queried_date)

Data for the first date in the dataset:
 Yearly Mean Total Sunspot Number    8.3
Yearly Mean Standard Deviation      NaN
Number of Observations              NaN
Definitive/Provisional Indicator    1.0
Name: 1700-12-31 00:00:00, dtype: float64

In [61]:
# Query with a Boolean, where the number of observations is greater than the mean number of observations
mean_observations = data['Number of Observations'].mean()
data_greater_than_mean_observations = data[data['Number of Observations'] > mean_observations]
print("\nData where the number of observations is greater than the mean:\n", data_greater_than_mean_observations.head())

Data where the number of observations is greater than the mean:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1981-12-31                             198.9                            13.1
1982-12-31                             162.4                            12.1
1983-12-31                              91.0                             7.6
1984-12-31                              60.5                             5.9
1985-12-31                              20.6                             3.7

            Number of Observations  Definitive/Provisional Indicator
Date
1981-12-31                  3049.0                               1.0
1982-12-31                  3436.0                               1.0
1983-12-31                  4216.0                               1.0
1984-12-31                  5103.0                               1.0
1985-12-31                  5543.0                               1.0

In [62]:
# Query with a Boolean, where the number of sunspots is greater than the mean number of sunspots
mean_sunspots = data['Yearly Mean Total Sunspot Number'].mean()
data_greater_than_mean_sunspots = data[data['Yearly Mean Total Sunspot Number'] > mean_sunspots]
print("\nData where the number of sunspots is greater than the mean:\n", data_greater_than_mean_sunspots.head())

Data where the number of sunspots is greater than the mean:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1705-12-31                              96.7                             NaN
1717-12-31                             105.0                             NaN
1718-12-31                             100.0                             NaN
1726-12-31                             130.0                             NaN
1727-12-31                             203.3                             NaN

            Number of Observations  Definitive/Provisional Indicator
Date
1705-12-31                     NaN                               1.0
1717-12-31                     NaN                               1.0
1718-12-31                     NaN                               1.0
1726-12-31                     NaN                               1.0
1727-12-31                     NaN                               1.0

### Solution to Exercise 4

In [63]:
import quandl

# Input Quandl API key
quandl.ApiConfig.api_key = 'LQSjhLEu2tY2XY_wLGqx'

# Import the sunspots data using Quandl
data = quandl.get('SIDC/SUNSPOTS_A')

# Filter out rows where sunspots are NaN
sunspots_data = data['Yearly Mean Total Sunspot Number'].dropna()

# Print the results of the describe function
print("Describe:\n", sunspots_data.describe())

# Print the count of observations
print("\nCount of Observations:", sunspots_data.count())

# Print the mean absolute deviation
print("\nMean Absolute Deviation (MAD):", sunspots_data.mad())

# Print the mean
print("\nMean:", sunspots_data.mean())

# Print the median
print("\nMedian:", sunspots_data.median())

# Print the max
print("\nMax:", sunspots_data.max())

# Print the min
print("\nMin:", sunspots_data.min())

# Print the mode
print("\nMode:\n", sunspots_data.mode())

# Print the standard deviation
print("\nStandard Deviation:", sunspots_data.std())

# Print the variance
print("\nVariance:", sunspots_data.var())

# Print the Skewness
print("\nSkewness:", sunspots_data.skew())

Describe:
 count    321.000000
mean      78.517134
std       62.091523
min        0.000000
25%       24.200000
50%       65.300000
75%      115.200000
max      269.300000
Name: Yearly Mean Total Sunspot Number, dtype: float64

Count of Observations: 321

Mean Absolute Deviation (MAD): 51.02099552605276

Mean: 78.51713395638627

Median: 65.3

Max: 269.3

Min: 0.0

Mode:
 0    18.3
Name: Yearly Mean Total Sunspot Number, dtype: float64

Standard Deviation: 62.09152256355228

Variance: 3855.3571742601225

Skewness: 0.8147812356121689

### Solution to Exercise 5

In [65]:
import pandas as pd
import numpy as np

# Utilize NumPy random generator
np.random.seed(42)

# Create a DataFrame with random data
df = pd.DataFrame({
    'Weather': np.random.choice(['cold', 'hot'], size=10),
    'Food': np.random.choice(['soup', 'icecream', 'chocolate'], size=10),
    'Price': np.random.rand(10) * 10,
    'Number': np.random.randint(1, 10, size=10)
})

# Group the data by the Weather column
weather_group = df.groupby('Weather')

In [66]:
# Define a function to iterate through the groups and print the first row, last row, and mean for each group
def print_group_info(group):
    print(f"First row in group '{group[0]}':\n{group[1].iloc[0]}\n")
    print(f"Last row in group '{group[0]}':\n{group[1].iloc[-1]}\n")
    print(f"Mean of group '{group[0]}':\n{group[1].mean()}\n")

# Iterate through the Weather groups and apply the function
for group in weather_group:
    print_group_info(group)

First row in group 'cold':
Weather         cold
Food       chocolate
Price       2.123391
Number             3
Name: 0, dtype: object

Last row in group 'cold':
Weather        cold
Food       icecream
Price      1.394939
Number            5
Name: 8, dtype: object

Mean of group 'cold':
Price     3.239026
Number    4.857143
dtype: float64

First row in group 'hot':
Weather          hot
Food       chocolate
Price        1.81825
Number             7
Name: 1, dtype: object

Last row in group 'hot':
Weather         hot
Food       icecream
Price      2.921446
Number            9
Name: 9, dtype: object

Mean of group 'hot':
Price     3.019715
Number    7.000000
dtype: float64

C:\Users\RexAr\AppData\Local\Temp\ipykernel_19036\1252759709.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(f"Mean of group '{group[0]}':\n{group[1].mean()}\n")

In [68]:
# Group the data by both Weather and Food
weather_food_group = df.groupby(['Weather', 'Food'])

# Use the agg() function to find the mean and median number and price for the new groups
aggregated_data = weather_food_group.agg({'Number': ['mean', 'median'], 'Price': ['mean', 'median']})
print("Aggregated data by Weather and Food:")
print(aggregated_data)

Aggregated data by Weather and Food:
                     Number            Price
                       mean median      mean    median
Weather Food
cold    chocolate  5.333333    4.0  2.333286  2.123391
        icecream   4.000000    4.0  2.153615  2.153615
        soup       5.000000    5.0  5.683047  5.683047
hot     chocolate  6.000000    6.0  3.068850  3.068850
        icecream   9.000000    9.0  2.921446  2.921446

### Solution to Exercise 6

In [70]:
# Select the first 3 rows of the dataframe
first_three_rows = df.iloc[:3]

# Using the concat function to put the 3 rows back with the original dataframe
concatenated_df = pd.concat([df, first_three_rows])

concatenated_df

  Weather       Food     Price  Number
0    cold  chocolate  2.123391       3
1     hot  chocolate  1.818250       7
2    cold  chocolate  1.834045       4
3    cold  chocolate  3.042422       9
4    cold       soup  5.247564       3
5     hot  chocolate  4.319450       5
6    cold   icecream  2.912291       3
7    cold       soup  6.118529       7
8    cold   icecream  1.394939       5
9     hot   icecream  2.921446       9
0    cold  chocolate  2.123391       3
1     hot  chocolate  1.818250       7
2    cold  chocolate  1.834045       4

In [87]:
# Select the last 2 rows of the original dataframe
last_two_rows = df.iloc[-2:]

# Using the append function to bring together the first 3 rows and the last 2 rows of the original dataframe
appended_rows = first_three_rows.append(last_two_rows)

appended_rows

C:\Users\RexAr\AppData\Local\Temp\ipykernel_19036\3636817354.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  appended_rows = first_three_rows.append(last_two_rows)

  Weather       Food     Price  Number
0    cold  chocolate  2.123391       3
1     hot  chocolate  1.818250       7
2    cold  chocolate  1.834045       4
8    cold   icecream  1.394939       5
9     hot   icecream  2.921446       9

### Solution to Exercise 7

In [94]:
import pandas as pd

# Load the datasets from the CSV files
# Use raw strings (prefix with r) or double backslashes for Windows file paths
dest_df = pd.read_csv(r'D:\ALPHA\Dynamic Folder\Bellevue\Winter 2023\Data Wrangling\Week 4\dest.csv')
tips_df = pd.read_csv(r'D:\ALPHA\Dynamic Folder\Bellevue\Winter 2023\Data Wrangling\Week 4\tips.csv')

# Use the merge() function to join 'dest' and 'tips' on the "EmpNr" column
merged_df = pd.merge(dest_df, tips_df, on="EmpNr")

# Print the results of the merge
print("Results of merge operation on 'EmpNr':")
print(merged_df)

Results of merge operation on 'EmpNr':
   EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

In [95]:
# The join() function typically sets the index to the column to join on
# Since join() requires the indexes to match, this can only be shown via dataframes

dest_df.set_index('EmpNr', inplace=True)
tips_df.set_index('EmpNr', inplace=True)

# Using the join() function to join 'dest' and 'tips' dataframes
joined_df = dest_df.join(tips_df, how='inner')

# Printing the results of the join
print("\nResults of join operation:")
print(joined_df)

Results of join operation:
            Dest  Amount
EmpNr
5      The Hague    10.0
9      Rotterdam     5.0

### Solution to Exercise 8

In [96]:
# Load the dataset from requested CSV file
who_df = pd.read_csv('D:\ALPHA\Dynamic Folder\Bellevue\Winter 2023\Data Wrangling\Week 4\WHO_first9cols.csv')

# Select the first 3 rows, including the headers for the two specified columns
selected_data = who_df[['Country', 'Net primary school enrolment ratio male (%)']].iloc[:3]

print("Selected Data:")
print(selected_data)

Selected Data:
       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0
2      Algeria                                         96.0

In [97]:
# Check for missing values
missing_values = selected_data.isnull()

print("\nMissing Values:")
print(missing_values)

Missing Values:
   Country  Net primary school enrolment ratio male (%)
0    False                                         True
1    False                                        False
2    False                                        False

In [98]:
# Print any non-missing values
non_missing_values = selected_data.dropna()

print("\nNon-missing Values:")
print(non_missing_values)

Non-missing Values:
   Country  Net primary school enrolment ratio male (%)
1  Albania                                         94.0
2  Algeria                                         96.0

In [99]:
# Replace the missing values with a scalar value. 
filled_data = selected_data.fillna(92)

print("\nData after replacing missing values with 92:")
print(filled_data)

Data after replacing missing values with 92:
       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                         92.0
1      Albania                                         94.0
2      Algeria                                         96.0